<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Municipios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body class="bg-secondary">
    <div class="container text-center mt-5">
        
            <h2><%= title %></h2>
        

        <table class="table table-dark ">
            <thead>
                <th>Id</th>
                <th>Municipio</th>
                <th>Opciones</th>
            </thead>
            <tbody>
                <% municipios.forEach(function(municipio){ %> 
                    <tr>
                        <td><%=municipio.id_municipio%></td>
                        <td><%=municipio.nombreMunicipio%></td>
                        <td>
                            <button class="btn btn-sm btn-outline-primary">Editar</button>
                            <button class="btn btn-sm btn-outline-danger">Eliminar</button>
                        </td>

                    </tr>
                <% }); %>
            </tbody>
        </table>

        <div class="center">
            <a class="btn btn-sm btn-warning" href="/"><strong>Ver Clientes</strong> </a>
            <a class="btn btn-sm btn-info" href="regiMuni"><strong>Agregar Nuevo Municipio</strong></a>
            
        </div>
    
    </div>
</body>
</html>